@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat&family=Nanum+Myeongjo&family=Sriracha&display=swap');

body {
    background-color: black;
}

.barraControl {
    background-color: rgb(39, 39, 39);
    width: 100%;
    margin: 0;
    height: 50px;
    justify-content: center;
}

.iconos {
    margin-top: 10px;
    font-size: 25px;
    color: white;
    text-align: center;

}

#pause {
    display: none;
}

h1 {
    font-family: 'Abril Fatface', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    color: green;
}

.screen {
    height: 538px;
    background-image: url(https://www.freepik.es/vector-gratis/fondo-tecnologia-futurista_8552347.htm);
    background-size: cover;
}

.listOfSongs {
    border: 1px solid green;
}
.listOfSongs:hover {
    background-color: rgba(128, 128, 128, 0.459);
}